<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeDo - Submission Details</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2025.3.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2025.3.1/core.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/questioner/submission_details.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div class="container">
        {% include "header.html" %}

        <main class="main-content">
            <div class="breadcrumb">
                <a class="crump-back"
                href="/questioners/dashboard">{{ challenge.title }}</a>
                <span class="separator">/</span>
                <a class="crump-back" href="/questioners/challenges/{{challenge.id}}/participants">Participants</a>
                <span class="separator">/</span>
                <a class="crump-back" href="/questioners/challenges/{{challenge.id}}/participants/{{participant.id}}/submissions">Submissions</a>
                <span class="separator">/</span>
                <span class="current">Submission Details</span>
            </div>

            <div class="submission-card">
                <div class="submission-header">
                    <svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="20.5" cy="20.5" r="20" fill="#333333" stroke="#E35205"/>
                        <path d="M20.5 20.5C22.71 20.5 24.5 18.71 24.5 16.5C24.5 14.29 22.71 12.5 20.5 12.5C18.29 12.5 16.5 14.29 16.5 16.5C16.5 18.71 18.29 20.5 20.5 20.5ZM20.5 22.5C17.83 22.5 12.5 23.84 12.5 26.5V28.5H28.5V26.5C28.5 23.84 23.17 22.5 20.5 22.5Z" fill="#E35205"/>
                      </svg>
                    <div>
                        <div class="problem-title">{{ problem.title }}</div>
                        <div class="submission-info">Submitted by {{ participant.username }} : {{ participant.email }} on {{ submission.submitted_at }}</div>
                    </div>
                    <div class="status-container">
                        <div class="test-count">Pass {{ submission.passed_test_cases }}/{{ submission.total_test_cases }} Test Cases</div>
                    </div>
                </div>

                <div class="tabs">
                    <button class="tab active" id="codeTab" mpy-click="activate_code_tab">Code</button>
                    <button class="tab" id="testTab" mpy-click="activate_test_tab">Test Cases</button>
                </div>

                <div class="code-content" id="codeContent">
                    <pre class="code-block">{{ submission.code }}</pre>
                </div>

                <div class="test-cases" id="testContent">
                    <div class="test-grid test-grid-header">
                        <div>Input</div>
                        <div>Expected Output</div>
                        <div>Actual Output</div>
                        <div>Time</div>
                        <div>Status</div>
                        <div>Message</div>
                    </div>
                    {% for result in submission.evaluation_results %}
                    <div class="test-grid test-case">
                        <div>
                            <pre>{{ result.test_case.input }}</pre>
                        </div>
                        <div>
                            <pre>{{ result.test_case.expected_output }}</pre>
                        </div>
                        <div>{{ result.result.output }}</div>
                        <div class="time">{{ result.result.execution_time }} ms</div>
                        <div><span class="test-status {{ result.result.status | lower }}">{{ result.result.status }}</span></div>
                        <div class="test-message">{{ result.result.error or '' }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        {% include "footer.html" %}
    </div>
    <script type="mpy" src="/static/pyscripts/questioner/submission_details.py"></script>
</body>
</html>