<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problems - CodeDo</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/participant/challenge_problems.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
</head>
<body>
    <div class="app-container">
        <header class="site-header">
            <div class="logo">CodeDo</div>
            <img src="https://placehold.co/41x41" alt="Profile" class="profile-image"/>
        </header>

        <main class="main-content">
            <div class="breadcrumb">
                <a href="/participants/dashboard" class="breadcrumb-link">{{challenge.title}}</a>
                <span class="breadcrumb-separator">/</span>
                <span class="breadcrumb-current">Problems</span>
            </div>

            <div class="problems-list">


                {% for problem in challenge.problems %}


                <div class="problem-card">
                    <div class="problem-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="problem-icon" viewBox="0 0 24 24">
                            <path d="M8.7 15.9L4.8 12L8.7 8.1C9.09 7.71 9.09 7.09 8.7 6.7C8.31 6.31 7.69 6.31 7.3 6.7L2.7 11.3C2.31 11.69 2.31 12.31 2.7 12.7L7.3 17.3C7.69 17.69 8.31 17.69 8.7 17.3C9.09 16.91 9.09 16.29 8.7 15.9ZM15.3 15.9L19.2 12L15.3 8.1C14.91 7.71 14.91 7.09 15.3 6.7C15.69 6.31 16.31 6.31 16.7 6.7L21.3 11.3C21.69 11.69 21.69 12.31 21.3 12.7L16.7 17.3C16.31 17.69 15.69 17.69 15.3 17.3C14.91 16.91 14.91 16.29 15.3 15.9Z"/>
                        </svg>
                    </div>
                    <div class="problem-content">
                        <h3 class="problem-title">{{problem.title}}</h3>
                    </div>
                    <div class="problem-actions">
                        {% if problem.submission_status is none %}
                            <a href="/participants/submissions?problem_id={{problem.problem_id}}&challenge_id={{challenge.challenge_id}}" 
                            target="_blank"  class="solve-button primary-color"
                            style="text-decoration: none;"> Solve Problem</a>
                        {% else %}
                        {% if problem.submission_status == 'Pass' %}
                        <a href="/participants/submissions?problem_id={{problem.problem_id}}&challenge_id={{challenge.challenge_id}}" 
                            target="_blank"  class="solve-button pass-pb-btn"
                            style="text-decoration: none;"> Submitted</a>
                        {% else %}

                            <a href="/participants/submissions?problem_id={{problem.problem_id}}&challenge_id={{challenge.challenge_id}}" 
                            target="_blank"  class="solve-button fail-pb-btn"
                            style="text-decoration: none;"> Submitted</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% endfor %}

                <!-- <div class="problem-card">
                    <div class="problem-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="problem-icon" viewBox="0 0 24 24">
                            <path d="M8.7 15.9L4.8 12L8.7 8.1C9.09 7.71 9.09 7.09 8.7 6.7C8.31 6.31 7.69 6.31 7.3 6.7L2.7 11.3C2.31 11.69 2.31 12.31 2.7 12.7L7.3 17.3C7.69 17.69 8.31 17.69 8.7 17.3C9.09 16.91 9.09 16.29 8.7 15.9ZM15.3 15.9L19.2 12L15.3 8.1C14.91 7.71 14.91 7.09 15.3 6.7C15.69 6.31 16.31 6.31 16.7 6.7L21.3 11.3C21.69 11.69 21.69 12.31 21.3 12.7L16.7 17.3C16.31 17.69 15.69 17.69 15.3 17.3C14.91 16.91 14.91 16.29 15.3 15.9Z"/>
                        </svg>
                    </div>
                    <div class="problem-content">
                        <h3 class="problem-title">Longest Substring without repeating characters</h3>
                    </div>
                    <div class="problem-actions">
                        <button class="solved-button">Solved</button>
                    </div>
                </div>

                <div class="problem-card">
                    <div class="problem-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="problem-icon" viewBox="0 0 24 24">
                            <path d="M8.7 15.9L4.8 12L8.7 8.1C9.09 7.71 9.09 7.09 8.7 6.7C8.31 6.31 7.69 6.31 7.3 6.7L2.7 11.3C2.31 11.69 2.31 12.31 2.7 12.7L7.3 17.3C7.69 17.69 8.31 17.69 8.7 17.3C9.09 16.91 9.09 16.29 8.7 15.9ZM15.3 15.9L19.2 12L15.3 8.1C14.91 7.71 14.91 7.09 15.3 6.7C15.69 6.31 16.31 6.31 16.7 6.7L21.3 11.3C21.69 11.69 21.69 12.31 21.3 12.7L16.7 17.3C16.31 17.69 15.69 17.69 15.3 17.3C14.91 16.91 14.91 16.29 15.3 15.9Z"/>
                        </svg>
                    </div>
                    <div class="problem-content">
                        <h3 class="problem-title">Sum using HashMap</h3>
                    </div>
                    <div class="problem-actions">
                        <button class="solve-button">Solve Problem</button>
                    </div>
                </div>

                <div class="problem-card">
                    <div class="problem-icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="problem-icon" viewBox="0 0 24 24">
                            <path d="M8.7 15.9L4.8 12L8.7 8.1C9.09 7.71 9.09 7.09 8.7 6.7C8.31 6.31 7.69 6.31 7.3 6.7L2.7 11.3C2.31 11.69 2.31 12.31 2.7 12.7L7.3 17.3C7.69 17.69 8.31 17.69 8.7 17.3C9.09 16.91 9.09 16.29 8.7 15.9ZM15.3 15.9L19.2 12L15.3 8.1C14.91 7.71 14.91 7.09 15.3 6.7C15.69 6.31 16.31 6.31 16.7 6.7L21.3 11.3C21.69 11.69 21.69 12.31 21.3 12.7L16.7 17.3C16.31 17.69 15.69 17.69 15.3 17.3C14.91 16.91 14.91 16.29 15.3 15.9Z"/>
                        </svg>
                    </div>
                    <div class="problem-content">
                        <h3 class="problem-title">Zigzag Conversion</h3>
                    </div>
                    <div class="problem-actions">
                        <button class="solved-button">Solved</button>
                    </div>
                </div> -->
            </div>
        </main>

        <footer class="site-footer">
            <p>Copyright © 2025 CodeDo Contact US codedo42@gmail.com | Terms & Policy</p>
        </footer>
    </div>
</body>
</html>