<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - CodeDo</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2025.3.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2025.3.1/core.js"></script>
    <link rel="stylesheet" href="/static/main/questioner/header.css" />
    <link rel="stylesheet" href="/static/main/questioner/dashboard.css" />
    <link rel="stylesheet" href="/static/main/questioner/create_challenge_modal.css" />
    <link rel="stylesheet" href="/static/main/questioner/delete_challenge_modal.css" />
    <link rel="stylesheet" href="/static/main/questioner/footer.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet" />

</head>
  <body>
    <div class="app-container">
      {% include "header.html" %}
      
      <main class="main-content">
        <div class="challenges-header">
          <h2 class="page-title">My Challenges</h2>
          <button class="create-button" mpy-click="show_modal" id="create_challenge_btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"/>
            </svg>
            Create Challenge
          </button>
        </div>

        <div class="challenges-list">
          {% for challenge in challenges %}
          <div class="challenge-card">
            <div class="challenge-icon-container">
              <svg xmlns="http://www.w3.org/2000/svg" class="challenge-icon" viewBox="0 0 24 24">
                <path d="M20.083 15.2l1.202.721a.5.5 0 0 1 0 .858l-8.77 5.262a1 1 0 0 1-1.03 0l-8.77-5.262a.5.5 0 0 1 0-.858l1.202-.721L12 20.05l8.083-4.85zm0-4.7l1.202.721a.5.5 0 0 1 0 .858L12 17.65l-9.285-5.571a.5.5 0 0 1 0-.858l1.202-.721L12 15.35l8.083-4.85zm-7.569-9.191l8.771 5.262a.5.5 0 0 1 0 .858L12 12.75 2.715 7.179a.5.5 0 0 1 0-.858l8.771-5.262a1 1 0 0 1 1.03 0zM12 3.332L5.887 7 12 10.668 18.113 7 12 3.332z"/>
              </svg>
            </div>
            <div class="challenge-content">
              <h3 class="challenge-title">{{ challenge.title }}</h3>
              <span class="challenge-date">Created: <span>{{ challenge.created_at }}</span></span>
            </div>
            <div class="challenge-actions">
              <a class="action-button" href="/questioners/challenges/{{ challenge.id }}/problems">
                <svg xmlns="http://www.w3.org/2000/svg" class="action-icon" viewBox="0 0 24 24">
                  <path d="M16.7574 2.99666L14.7574 4.99666H5V18.9967H19V9.23926L21 7.23926V19.9967C21 20.5489 20.5523 20.9967 20 20.9967H4C3.44772 20.9967 3 20.5489 3 19.9967V3.99666C3 3.44437 3.44772 2.99666 4 2.99666H16.7574ZM20.4853 2.09766L21.8995 3.51187L12.7071 12.7043L11.2929 12.7043L11.2929 11.2901L20.4853 2.09766Z"/>
                </svg>
            </a>
              <button data-challenge-id="{{ challenge.id }}" class="action-button" mpy-click="show_delete_modal">
                <!-- delete-challenge-submit-button -->
                <svg  xmlns="http://www.w3.org/2000/svg" class="action-icon" viewBox="0 0 24 24">
                  <path d="M12 10.5858L16.2426 6.34317L17.6568 7.75738L13.4142 12L17.6568 16.2426L16.2426 17.6568L12 13.4142L7.75736 17.6568L6.34315 16.2426L10.5858 12L6.34315 7.75738L7.75736 6.34317L12 10.5858Z"/>
                </svg>
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </main>

      

      <!-- Modal -->
        {% include "create_challenge_modal.html" %}
      <!-- Delete Modal -->
      {% include "delete_challenge_modal.html" %}
      {% include "footer.html" %}
    </div>

    <script type="mpy" src="/static/main/questioner/dashboard.py"></script>
  </body>
</html>